.cross {
	top: 1px;
	left: 64.3%;
	border: 3px solid #fff;
	height: 3vmin;
	width: 3vmin;
	border-radius: 2px;
	animation-name: panorama_viewer;
	animation-duration: 4s;
	animation-delay: 6s;
	animation-fill-mode: both;
	overflow: visible;
}
.cross:after, .cross:before {
	border: 3px solid #fff;
}
.cross:after {
	left: 0;
	top: 0;
	margin: 0;
	height: 0;
	width: 4.24vmin;
	transform-origin: 0;
	border: 0;
	border-top: 3px solid #fff;
	margin-top: -2px;
}
.cross:before {
	left: 100%;
	top: 0;
	margin: 0;
	height: 0;
	width: 4.24vmin;
	transform-origin: 0;
	border: 0;
	border-top: 3px solid #fff;
	margin-top: -2px;
	transform: rotate(135deg);
}
.cross:hover, .cross:hover:after, .cross:hover:before {
	border-color: #996600;
}
.cross_inner {
	position: absolute;
	right: 0;
	text-transform: uppercase;
	color: #fff;
}
.cross:hover .cross_inner {
	position: absolute;
	right: 100%;
	text-transform: uppercase;
	color: #fff;
	margin-right: 1vmin;
	font-size: 3vmin;
	display: block;
}
.panorama_block {
	background: no-repeat #999;
}
@keyframes panorama {
	0% {
		opacity: 0;
	   width: 100%;
	}
	10% {
		opacity: 1;
	}
	100% {
		width: 75%;
		z-index: -12;
	}
}
@keyframes panorama_navigator {
	0% {
		opacity: 0;
		z-index: -20;
	}
	100% {
		opacity: 1;
		z-index: 10
	}
}
@keyframes panorama_viewer {
	0% {
		opacity: 0;
		z-index: -20;
	}
	100% {
		opacity: 1;
		z-index: 10
	}
}
.panorama_block_inner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background:  url('../images/panorama.jpg') 100% 0 no-repeat #999;
	background-size: cover;
	animation-name: panorama;
	animation-duration: 5s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	z-index: 12;
}
.panorama_navigator {
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 100%;
	z-index: -20;
	animation-name: panorama_navigator;
	animation-duration: 4s;
	animation-delay: 6s;
	animation-fill-mode: both;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 0;
	font-size: 0;
	text-align: left;
	white-space: nowrap;
}
.panorama_control {
	position: absolute;
	top: 90%;
	left: 0;
	right: 25%;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100;
}
.panorama_navigator_inner {
	height: 100vmin;
	display: table;
	overflow: hidden;
}
.panorama_cylinder_block {
	position: relative;
	width: 812vmin;
	height: 100vmin;
	background:  url('../images/panorama_navigator.jpg') 100% 0 no-repeat #999;
	background-size: cover;
	display: inline-block;
}
.panorama_cylinder {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	width: 3vmin;
	height: 100%;
	cursor: pointer;
}
.panorama_cylinder.cylinder01{
	left: 680vmin;
	width: 22vmin;
}
.panorama_cylinder.cylinder02{
	left: 731vmin;
	width: 16vmin;
}
.panorama_cylinder.cylinder03{
	left: 761.7vmin;
	width: 12vmin;
}
.panorama_cylinder.cylinder04{
	left: 781vmin;
	width: 9.9vmin;
}
.panorama_cylinder.cylinder05{
	left: 794.3vmin;
	width: 7.4vmin;
}
.panorama_cylinder.cylinder06{
	left: 7.7vmin;
	width: 6.8vmin;
}
.panorama_cylinder.cylinder07{
	left: 22.9vmin;
	width: 6.8vmin;
}
.panorama_cylinder.cylinder08{
	left: 42.2vmin;
	width: 6.8vmin;
}
.panorama_cylinder.cylinder09{
	left: 59.9vmin;
	width: 6.8vmin;
}
.panorama_cylinder.cylinder010{
	left: 78.1vmin;
	width: 6.1vmin;
}
.panorama_cylinder.cylinder011{
	left: 85.8vmin;
	width: 6.5vmin;
}
.panorama_cylinder.cylinder012{
	left: 96.9vmin;
	width: 7.9vmin;
}
.panorama_cylinder.cylinder013{
	left: 108.8vmin;
	width: 9.2vmin;
}
.panorama_cylinder.cylinder014{
	left: 129.4vmin;
	width: 13vmin;
}
.panorama_cylinder.cylinder015{
	left: 164.5vmin;
	width: 17.4vmin;
}
.panorama_cylinder.cylinder016{
	left: 217.3vmin;
	width: 21.4vmin;
}
.panorama_cylinder.cylinder017{
	left: 270.6vmin;
	width: 21.4vmin;
}
.panorama_cylinder.cylinder018{
	left: 324.1vmin;
	width: 21.4vmin;
}
.panorama_cylinder:after {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	content: '';
	position: absolute;
	top: 47%;
	padding: 0.6vmin;
	background: rgba(255,255,255,0.8);
	font-size: 2.1vmin;
	line-height: 2.5vmin;
	color: #000;
	white-space: nowrap;
	font-weight: bold;
	display: none;
	opacity: 0;
	transition-timing-function: linear;
	transition-duration: .2s;
	transition-property: opacity;
	font-weight: 400;
}
.panorama_cylinder:hover:after {
	display: block;
	opacity: 1;
}
.panorama_cylinder.cylinder01:after {
	content: 'Арбат, 2004';
}
.panorama_cylinder.cylinder02:after {
	content: 'Арбат, 2004';
}
.panorama_cylinder.cylinder03:after {
	content: 'Арбат, 2004';
}
.panorama_cylinder.cylinder04:after {
	content: 'Малая садовая, С.- Петербург, 2005';
}
.panorama_cylinder.cylinder05:after {
	content: 'Лаврушинский пер., 2004';
}
.panorama_cylinder.cylinder06:after {
	content: 'Люсиновская ул., 2004';
}
.panorama_cylinder.cylinder07:after {
	content: 'магазин на Люсиновской ул., 2004';
}
.panorama_cylinder.cylinder08:after {
	content: 'Гостиный двор, Москва, 2004';
}
.panorama_cylinder.cylinder09:after {
	content: 'Гостиный двор, Москва, 2004';
}
.panorama_cylinder.cylinder010:after {
	content: 'Большая Никитская, 2004';
}
.panorama_cylinder.cylinder011:after {
	content: 'парк Монрепо, 2005';
}
.panorama_cylinder.cylinder012:after {
	content: 'Московский проспект, С.- Петербург, 2005';
}
.panorama_cylinder.cylinder013:after {
	content: 'ул. Забелина, 2005';
}
.panorama_cylinder.cylinder014:after {
	content: 'Гостиный двор, Москва, 2004';
}
.panorama_cylinder.cylinder015:after {
	content: 'Марфо-Мариинская обитель, 2004';
}
.panorama_cylinder.cylinder016:after {
	content: 'Выборг, 2005';
}
.panorama_cylinder.cylinder017:after {
	content: 'бульвар Карбышева, 2006';
}
.panorama_cylinder.cylinder018:after {
	content: 'инсталляция Т. Кавана в Третьяковке, 2006';
}
.panorama_viewer {
	position: absolute;
	top: 0;
	left: 75%;
	right: 0;
	bottom: 0;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	animation-name: panorama_viewer;
	animation-duration: 4s;
	animation-delay: 6s;
	animation-fill-mode: both;
}
.panorama_viewer_background {
	position: absolute;
	top: 0;
	left: 75%;
	right: 0;
	bottom: 0;
	background-image: url('../images/panorama_floor.jpg'), url('../images/panorama_viewer.jpg');
	background-position: 0 100%, 50% 50%;
	background-repeat: repeat-x, no-repeat;
	background-size: 100% 11.3%, cover;
}